/**
 * sass/files/panel.scss
 */

.panel-fields {

    .field-label {
        font-weight: bold;
    }

    .field-value {
        padding-left: 20px;
    }

    .checkbox-container {
        font-size: 1.1rem;
    }

}
