/**
 * sass/files/panel.scss
 */

@import "../variables";

.panel-fields {

    .field-label {
        font-weight: bold;
    }

    .field-value {
        padding-left: 20px;
    }

    .checkbox-container {
        font-size: 1.1rem;
    }


    .panel-field {

        padding: 4px;

        &:nth-child(even) {
            background-color: $dark-white;
        }
    }

}
