/**
 * scss/_form.scss
 */

@import '_mixins.scss';

// Bootstrap select
.bootstrap-select {

    .btn.dropdown-toggle {
        @include border-radius();
        border: 1px solid $light-gray;

        &,
        &:hover,
        &:active,
        &:focus {
            background-color: $white;
        }

        &.btn-light:focus {
            @include shadow(0, 0, 0, 0.2rem, rgba(52, 144, 220, 0.25));
        }
    }

    .file-icon,
    .user-icon,
    .team-icon {
        max-height: 25px;
        padding: 2px;
        font-size: .9em;
        margin-right: 3px;
    }

    .headshot {
        max-height: 25px;
    }

    .dropdown-divider + .dropdown-header {
        margin-top: -8px;
    }
}

.checkbox-field {

    display: flex;


    .checkbox-container {
        width: 2.25rem;
        padding-top: 2px;
        text-align: center;
        flex-grow: 0;
    }

    .checkbox-label-container {
        flex-grow: 1;
    }
}

.form--section-header {
    h3 {
        background-color: $light-gray;
        padding: 4px;
    }
}

.file-upload-group {
    .file-upload-image-preview-container {
        display: none;
        text-align: center;
        padding: 15px;

        img {
            opacity: .5;
            max-height: 200px;
            max-width: 200px;
        }

        &.previewing-image {
            display: block;
        }
    }
}


.of-radio-group {
    label {
        margin-bottom: 0;
        display: flex;
        cursor: pointer;
        font-weight: normal;

    }
}


.range-field-display {
    border: 1px solid $light-gray;
    text-align: center;
    margin: 0.25rem;
    width: 50px;
    background-color: $dark-white;
}

.range-field-labels {
    padding: 0 5px;
    font-size: .9em;
}


.numeric-form-group {

    margin-bottom: 10px;

    & + .numeric-form-group {
        margin-top: -11px;
    }

    border: 1px solid $light-gray;

    label {
        padding: 7px 0 7px 7px;
        margin-bottom: 0;
        background-color: $really-dark-white;
        display: block;
    }

    p {
        padding: 7px;
        margin: 0;
    }

    .field-container {

        input {
            width: 125px;
            border-radius: 0;
            border-right: none;
            border-top: none;

            text-align: right;

            &[type='number'] {
                -moz-appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

        }
    }

}

