/**
 * scss/_form.scss
 */

.checkbox-field {

    display: flex;


    .checkbox-container {
        width: 2.25rem;
        padding-top: 2px;
        text-align: center;
        flex-grow: 0;
    }

    .checkbox-label-container {
        flex-grow: 1;
    }
}

.form--section-header {
    h3 {
        background-color: $light-gray;
        padding: 4px;
    }
}
