/**
 * sass/_location_bar.scss
 */

.location-bar {
    border-bottom: 1px solid $medium-gray;
    background-color: $white;
    position: fixed;
    top: 55px;
    width: 100%;
    z-index: 1030;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;

    @include shadow(2px, 0, 7px);

    height: 54px;
    left: 0;

    -webkit-transition: height .2s, left .2s;
    transition: height .2s, left .2s;

    @include media-breakpoint-up(lg) {
        left: 210px;
        width: calc(100% - 210px);
    }

    ul {
        margin: 0;
        padding: 15px;

        list-style-type: none;

        li {
            display: inline;

            &:last-child {
                margin-right: 15px;
            }
        }
    }

    .separator {
        color: $dark-gray;
    }
}
