/**
 * sass/_utilities.scss
 */

.w-50p {
    width: 50px;
}

.w-75p {
    width: 75px;
}

.w-100p {
    width: 100px;
}

.mh-25p {
    max-height: 25px;
}

.mw-25p {
    max-width: 25px;
}

.mhw-25p {
    max-height: 25px;
    max-width: 25px;
}

.bold-labels label {
    font-weight: bold;
}

.overflow-x-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-text-decoration,
.no-text-decoration:hover {
    text-decoration: none;
}
