/**
 * sass/_utilities.scss
 */

.w-50p {
    width: 50px;
}

.w-75p {
    width: 75px;
}

.w-100p {
    width: 100px;
}

.w-150p {
    width: 150px;
}

.mh-25p {
    max-height: 25px;
}

.mw-25p {
    max-width: 25px;
}

.mhw-25p {
    max-height: 25px;
    max-width: 25px;
}

.mh-35p {
    max-height: 35px;
}

.mw-35p {
    max-width: 35px;
}

.mhw-35p {
    max-height: 35px;
    max-width: 35px;
}

.mh-50p {
    max-height: 50px;
}

.mw-50p {
    max-width: 50px;
}

.mhw-50p {
    max-height: 50px;
    max-width: 50px;
}

.m-half {
    margin: 2px;
}

.mr-half {
    margin-right: 2px;
}

.ml-half {
    margin-left: 2px;
}


.p-half {
    padding: 2px;
}

.pr-half {
    padding-right: 2px;
}

.pl-half {
    padding-left: 2px;
}

.bold-labels label {
    font-weight: bold;
}

.fs-12px {
    font-size: 12px !important;
}

.fs-14px {
    font-size: 14px !important;
}

.fs-16px {
    font-size: 16px !important;
}

.fs-18px {
    font-size: 18px !important;
}

.fs-20px {
    font-size: 20px !important;
}

.fs-24px {
    font-size: 24px !important;
}

.fs-36px {
    font-size: 36px !important;
}

.fs-48px {
    font-size: 48px !important;
}

.fs-96px {
    font-size: 96px !important;
}

.overflow-x-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-text-decoration,
.no-text-decoration:hover {
    text-decoration: none;
}

.print-only {
    display: none;
}

@media print {

    .no-print {
        display: none !important;
    }

    .print-only {
        display: unset;
    }

}
