$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

// Body
$body-bg: #e6ecf3;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// 495057

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$warning-orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$light-white: #fefefe;
$medium-white: #fcfcfc;
$dark-white: #f9f9f9;
$light-gray: #e3e3e3;
$med-light-gray: #d6d6d6;
$medium-gray: #c9c9c9;
$med-dark-gray: #999;
$dark-gray: #666;

$black: #090909;

$blue-highlight: #e3f3ff;
$purple-highlight: #fff3ff;
$green-highlight: #f3fff3;
$orange-highlight: #fff3e3;
$red-highlight: #fff3f3;
$red-highlight-transparent: rgba(255, 236, 236, .85);

// Navbar
$navbar-bg: #282923;

$navbar-height: 55px;
$main-content-top-margin: 120px;
$total-header-height: 108px;// Navbar + LocationBar
