// Body
$body-bg: #e6ecf3;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$warning-orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$light-gray: #e3e3e3;
$medium-gray: #c9c9c9;
$dark-gray: #666;

$black: #090909;

$blue-highlight: #e3f3ff;
$purple-highlight: #fff3ff;
$green-highlight: #f3fff3;
$red-highlight: #fff3f3;
$red-highlight-transparent: rgba(255, 236, 236, .85);

// Navbar
$navbar-bg: #282923;
