/**
 * sass/admin.scss
 */

@import "variables";
@import "mixins";

.dt-table td {
    vertical-align: middle;
}

.user-photo {
    text-align: center;
    border-bottom: 1px solid $light-gray;
    padding: 15px;
    margin-bottom: 15px;
}

a.admin-module-link {

    text-align: center;
    color: $black;
    margin-bottom: 10px;

    .module-icon {
        display: block;
        font-size: 48px;
        margin-bottom: 15px;
    }

    &:hover {
        text-decoration: none;
        color: $blue;
    }

}
