/**
 * sass/admin.scss
 */

@import "variables";
@import "mixins";

.empty-resource {

    text-align: center;

    .empty-resource-icon {

        @include border-radius(15px);

        font-size: 96px;
        color: $blue;
        border: 1px solid $light-gray;
        padding: 50px;
        margin-bottom: 40px;
    }
}
