/**
 * sass/app.scss
 */

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap select
@import '~bootstrap-select/sass/bootstrap-select';

// Bootstrap datepicker
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css';

// Bootstrap timepicker (tempusdominus)
@import '~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Datatables
@import '~datatables.net-bs4';
@import '~datatables.net-buttons-bs4';

// Trix
@import 'trix.scss';

@import '_utilities.scss';
@import '_sidebar.scss';
@import '_location_bar.scss';
@import '_form.scss';
@import '_header-navbar.scss';



::-webkit-input-placeholder {
    color: $medium-gray !important;
    opacity: 1;
}

:-moz-placeholder {
    color: $medium-gray !important;
    opacity: 1;
}

::-moz-placeholder {
    color: $medium-gray !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $medium-gray !important;
    opacity: 1;
}

::-ms-input-placeholder {
    color: $medium-gray !important;
    opacity: 1;
}

::placeholder {
    color: $medium-gray !important;
    opacity: 1;
}






.template {
    display: none;
}









.main-content {
    margin-bottom: 30px;
    padding-top: $main-content-top-margin;

    -webkit-transition: padding .2s, margin .2s;
    transition: padding .2s, margin .2s;
}


.form-group.required label::after {
    content: ' *';
    color: $red;
}

.custom-control-label,
.custom-control-label::before,
.custom-control-label::after {
    cursor: pointer;
}

.btn {
    @include border-radius(0);

    .show > &.dropdown-toggle:not(.btn-light):not(.btn-light),
    &:not(.btn-light):not(.btn-light) {
        @include shadow-transition();
        @include background-color-transition();
        @include shadow(0,0,0,0,transparent);

        &:not(:disabled):not(:disabled):active:focus {
            @include shadow(0,0,0,0,transparent);
        }
    }
}

@each $color, $value in $theme-colors {
    .btn-#{$color}:focus {
        background-color: darken($value, 10%);
    }
}

.btn-warning {
    background-color: $warning-orange;
    color: $white;
    border-color: $warning-orange;

    &:hover,
    &:focus {
        background-color: darken($warning-orange, 10%);
        color: $white;
    }
}




.card {
    @include border-radius(0);
}

.dropdown-menu {
    @include border-radius(0);
    @include shadow($blurRadius:8px);
    padding: 0;
    z-index: 1030;
}

.dropdown-header {
    color: $gray-800;
    background-color: $gray-200;
    font-size: .9rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: $blue;
    color: #eee;
}

.dropdown-item.text-danger:hover,
.dropdown-item.text-danger:focus {
    background-color: #ffe4e4;
}

.list-group-item-action.active {
    border-color: $light-gray;
    border-left: 3px solid $blue;
    color: $gray-700;
    background-color: white;
    font-weight: bold;
}



// Tabs
.nav-tabs .nav-link.active {
    background-color: $white;
    border-bottom: 1px solid $white;
}




// Bootstrap select
.bootstrap-select {

    .btn.dropdown-toggle {
        @include border-radius();
        border: 1px solid $light-gray;

        &,
        &:hover,
        &:active,
        &:focus {
            background-color: $white;
        }

        &.btn-light:focus {
            @include shadow(0, 0, 0, 0.2rem, rgba(52, 144, 220, 0.25));
        }
    }


    .user-icon,
    .team-icon {
        max-height: 25px;
        padding: 2px;
        font-size: .9em;
        margin-right: 3px;
    }

    .headshot {
        max-height: 25px;
    }
}



// Bootstrap datetimepicker
.datepicker-dropdown {
    z-index: 1020; // Make sure datepicker stays on top of header bar
}



.sort-handle {
    cursor: move;
}

.sortable-chosen {
    background-color: $blue-highlight;
}

.empty-resource {

    text-align: center;

    .empty-resource-icon {

        @include border-radius(15px);

        font-size: 96px;
        color: $blue;
        border: 1px solid $light-gray;
        padding: 50px;
        margin-bottom: 40px;
    }
}




.in-preview {
    opacity: .8;
}


.team-icon {
    @include border-radius();
    @include no-text-select();
    color: #090909;
    padding: 4px;
    display: inline-block;
}

.user-icon {
    @include border-rounded();
    @include no-text-select();
    color: #f9f9f9;
    padding: 7px;
    display: inline-block;

    &.mhw-25p {
        font-size: 10px;
        padding: 4px;
    }
}

.file-icon {

    font-size: 3rem;

    &.file-thumbnail {
        font-size: 9rem;
    }
}


.thumbnail {
    max-width: 200px;
    max-width: 100%;
    max-height: 200px;
}




.dt-table {
    .headshot {
        max-height: 35px;
        max-width: 35px;
    }
}



.notifications {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10000;

    @include media-breakpoint-down(xs) {

        right: 0;
    }

    .toast {
        min-width: 350px;
        @include border-radius(0px);
        border: none;
        border-left: 3px solid transparent;
        background-color: $white;
    }

    .toast-header {
        border: none;
    }

    .toast.success {
        border-left-color: $green;

        .toast-icon {
            color: $green;
        }
    }

    .toast.info {
        border-left-color: $blue;

        .toast-icon {
            color: $blue;
        }
    }

    .toast.warning {
        border-left-color: $orange;

        .toast-icon {
            color: $orange;
        }
    }

    .toast.error {
        border-left-color: $red;
        background-color: $red-highlight;
        color: $red;

        .close {
            color: $red;
        }

        .toast-header {
            background-color: $red-highlight;
            color: $red;
            font-weight: bold;
        }
    }
}


.overdue {
    .due-date {
        color: $red;
    }
}

.due-today {
    .due-date {
        color: $orange;
    }
}





h1,
h2,
h3,
h4,
h5,
h6 {
    &.separator {
        z-index: 0;
        position: relative;
        margin-top: 1rem;

        & > span {
            display: inline-block;
            padding: 0 10px;
            background-color: $white;
            margin-left: 20px;
            margin-right: 20px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            border-bottom: 1px solid $light-gray;
            z-index: -1;
        }
    }
}

