/**
 * sass/app.scss
 */

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap datepicker
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Datatables
@import '~datatables.net-bs4';
@import '~datatables.net-buttons-bs4';

// Trix
@import 'trix.scss';

@import '_utilities.scss';
@import '_sidebar.scss';





::-webkit-input-placeholder {
    color: $medium-gray !important;
    opacity: 1;
}

:-moz-placeholder {
    color: $medium-gray !important;
    opacity: 1;
}

::-moz-placeholder {
    color: $medium-gray !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $medium-gray !important;
    opacity: 1;
}

::-ms-input-placeholder {
    color: $medium-gray !important;
    opacity: 1;
}

::placeholder {
    color: $medium-gray !important;
    opacity: 1;
}









.header-navbar {
    background-color: $navbar-bg;
}

.header-navbar .icon {
    max-width: 21px;
    max-height: 21px;
}

.main-content {
    padding-top: 60px;
    margin-bottom: 30px;
}


.form-group.required label::after {
    content: ' *';
    color: $red;
}

.custom-control-label,
.custom-control-label::before,
.custom-control-label::after {
    cursor: pointer;
}

.btn {
    @include border-radius(0);
}

.btn-warning {
    background-color: $warning-orange;
    color: $white;

    &:hover,
    &:focus {
        background-color: darken($warning-orange, 10%);
        color: $white;
    }
}



// Bootstrap datetimepicker
.datepicker-dropdown {
    z-index: 1020; // Make sure datepicker stays on top of header bar
}


.skip-to-content-link {
    @include border-right-radius();
    @include position-transition(left);

    position: fixed;
    top: 10px;
    left: -100px;
    background-color: $navbar-bg;
    border: 1px solid $dark-gray;
    border-left: none;
    padding: 4px;
    padding-right: 24px;

    color: $white;

    &:hover,
    &:focus {
        left: 0;
        color: $white;
    }
}



.team-icon {
    @include border-radius();
    @include no-text-select();
    color: #090909;
    margin-right: 6px;
    padding: 7px;

    display: inline-block;
}

.user-icon {
    @include border-rounded();
    @include no-text-select();
    color: #f9f9f9;
    margin-right: 6px;
    padding: 7px;
    display: inline-block;
}





.notifications {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10000;

    @include media-breakpoint-down(xs) {

        right: 0;
    }

    .toast {
        min-width: 350px;
        @include border-radius(0px);
        border: none;
        border-left: 3px solid transparent;
        background-color: $white;
    }

    .toast-header {
        border: none;
    }

    .toast.success {
        border-left-color: $green;

        .toast-icon {
            color: $green;
        }
    }

    .toast.info {
        border-left-color: $blue;

        .toast-icon {
            color: $blue;
        }
    }

    .toast.warning {
        border-left-color: $orange;

        .toast-icon {
            color: $orange;
        }
    }

    .toast.error {
        border-left-color: $red;
        background-color: $red-highlight;
        color: $red;

        .close {
            color: $red;
        }

        .toast-header {
            background-color: $red-highlight;
            color: $red;
            font-weight: bold;
        }
    }
}
