/**
 * sass/files.scss
 */

@import "variables";

hr.separator {
    border-top: 2px solid $medium-gray;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 90%;
}

.no-files {
    .no-files-icon-container {
        font-size: 9rem;
    }
}


.file-form {


    .file-type-icon-container {
        font-size: 9rem;
    }
}
