/**
 * sass/home.scss
 */

@import "variables";
@import "_component/activity";

.home--panel {
    margin-bottom: 10px;

    .card-body {
        max-height: 75vh;
        overflow-y: auto;
        margin-bottom: 20px;
        min-height: 400px;
    }
}
