/**
 * sass/home.scss
 */

@import "variables";
@import "_component/activity";
@import "_component/form-doc";
@import "_component/task";

.home--panel {
    margin-bottom: 10px;

    .card-body {
        max-height: 75vh;
        overflow-y: auto;
        min-height: 400px;

        .list-group {
            margin-bottom: 20px;
        }

    }
}

.work-type-container h4 {
    z-index: 2;
    position: sticky;
    top: $total-header-height;
    padding: 7px;
    background-color: $light-gray;

    span {
        background-color: inherit;
    }
}
