/**
 * sass/home.scss
 */

@import "variables";
@import "_component/activity";
@import "_component/form-doc";

.home--panel {
    margin-bottom: 10px;

    .card-body {
        max-height: 75vh;
        overflow-y: auto;
        min-height: 400px;

        .list-group {
            margin-bottom: 20px;
        }

    }
}
