/**
 * sass/manual.scss
 */

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import '_utilities.scss';
@import '_mixins.scss';
@import '_header-navbar.scss';


body {
    background-color: $body-bg;
    padding-top: 60px;
    padding-bottom: 30px;
}

h1 {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 15px;
    margin-bottom: 15px;

}

p {
    margin-bottom: 12px;
}


.btn {
    @include border-radius(0);
}

.btn-warning {
    background-color: #f6993f;
    border-color: #f6993f;
    color: #fff;

    &:hover {
        background-color: #f47f0e;
    }
}



.nav-sidebar {

    @include media-breakpoint-up(md) {

        position: sticky;
        top: $navbar-height;

    }


    .nav-header {
        img {
            max-height: 30px;
            margin-right: 8px;
        }

        h2 {
            line-height: 1.4;
            margin-bottom: 0;
        }

        background-color: $white;
        color: $blue;
        display: flex;
        padding: 8px;
        //border: 1px solid $light-gray;
        margin-bottom: 8px;
    }

    h3 {
        color: $blue;
        padding: 8px 4px;
    }

    .list-group {

        @include border-radius(0);

        margin-bottom: 15px;

        .list-group-item-action {
            border-left: 4px solid $light-gray;

            &:hover {
                border-left-color: lighten($blue, 20%);
            }

            &.active {
                color: $black;
                border-color: $light-gray;
                border-left-color: $blue;
                background-color: $light-gray;
            }
        }

    }
}



.tip,
.note,
.technote,
.warning {
    margin: 15px;
    padding: 15px;
    border: 1px solid $light-gray;


    h5 {
        border-bottom: 1px solid $light-gray;
        padding-bottom: 8px;
    }
}

.tip {
    background-color: $blue-highlight;
}

.note {
    background-color: $dark-white;
}

.warning {
    background-color: $orange-highlight;
}

.technote {
    color: $white;
    background-color: #333;
}

.copyright-info {
    font-size: .8rem;
    text-align: right;
    color: $dark-gray;
}


.manual-image-container {

    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;

    img {
        max-width: 100%;
    }

}
