/**
 * sass/projects.scss
 */

@import "variables";
@import "mixins";


.projects {

    .headshot {
        max-height: 30px;
        max-width: 30px;
    }

    .user-icon {
        max-height: 35px;
        padding: 2px;
    }
}

.project {

    .headshot {
        max-height: 35px;
    }

    .project-details {
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &.overdue {

        .project-details {
            background-color: $red-highlight;
            border-color: transparent;
        }

        .project--due-date {
            color: $red;
            font-weight: bold;
        }

    }

    .project--completed-indicator {
        color: $green;
        font-size: 1.1em;
        font-weight: bold;
    }

}

.project--tasks {

    @include media-breakpoint-up(md) {
        position: sticky;
        top: 60px;
        overflow-y: auto;
    }

}

.project--task-list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    .headshot {
        max-height: 20px;
        max-width: 20px;
    }

    .user-icon {
        max-height: 20px;
        font-size: .9em;
        padding: 1px 2px;
    }

    .task {
        margin-bottom: 4px;

        .project--task--due-date {
            font-size: .9em;
        }

        &.overdue {

            .calendar-icon,
            .project--task--due-date {
                color: $red;
            }

        }

        &.due-today {

            .calendar-icon,
            .project--task--due-date {
                color: $orange;
            }

        }
    }

    .task-attributes {
        padding-left: 15px;

        .fas, .far {
            color: $dark-gray;
        }
    }

    &.completed-tasks {

        font-size: .9em;

        a {
            text-decoration: line-through;
            color: $dark-gray;
        }
    }
}


.task {


    .task-details {
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        padding: 15px;
        padding-bottom: 0;
        margin-top: 15px;
        margin-bottom: 15px;

        .headshot {
            max-height: 35px;
        }
    }

    &.overdue {
        .task-details {
            border-color: transparent;
            background-color: $red-highlight;
        }

        .task--due-date {
            font-weight: bold;
            color: $red;
        }
    }
}
