/**
 * /sass/reports.scss
 */

@import "variables";
@import "mixins";

.report-select-options {

    @include media-breakpoint-up(md) {
        position: sticky;
        top: $main-content-top-margin;
    }

}


.report-headers {
    font-size: .8rem;
}


.visualization {

    .visualization-header {
        padding: 4px;
        font-weight: bold;
        background-color: $dark-white;


    }
    &.visualization-error {
        color: $red;
        background-color: $red-highlight;
        border: 1px solid $red;
    }

}
