/**
 * sass/settings.scss
 */

@import 'variables';

.settings {

    .settings-nav {

        .current {
            padding-left: 17px;
            border-left: 3px solid $blue;
            font-weight: bold;
        }

    }

    h2 {
        padding-bottom: 7px;
        margin-bottom: 14px;
        border-bottom: 1px solid $light-gray;
    }
}
