/**
 * sass/settings.scss
 */

@import 'variables';

.settings {

    .settings-nav {

        .current {
            padding-left: 17px;
            border-left: 3px solid $blue;
            font-weight: bold;
        }

    }
}
