/**
 * sass/projects.scss
 */

/**
 * sass/_mixins.scss
 */

.projects .headshot {
  max-height: 30px;
  max-width: 30px;
}

.projects .user-icon {
  max-height: 35px;
  padding: 2px;
}

.project .headshot {
  max-height: 35px;
}

.project .project-details dd {
  padding-bottom: 15px;
  border-bottom: 1px solid #e3e3e3;
}

.project.overdue .project-details {
  background-color: #fff3f3;
  border-color: transparent;
}

.project.overdue .project--due-date {
  color: #e3342f;
  font-weight: bold;
}

.project .project--completed-indicator {
  color: #38c172;
  font-size: 1.1em;
  font-weight: bold;
}

.project .section-header {
  margin-top: 10px;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(48%, white), color-stop(49%, #6c6c6c), color-stop(51%, #6c6c6c), color-stop(52%, white));
  background: linear-gradient(0deg, white 48%, #6c6c6c 49%, #6c6c6c 51%, white 52%);
}

.project .section-header .title {
  background-color: #fff;
  margin-left: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

@media (min-width: 768px) {
  .project--tasks {
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    overflow-y: auto;
  }
}

.project--task-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.project--task-list .headshot {
  max-height: 20px;
  max-width: 20px;
}

.project--task-list .user-icon {
  max-height: 20px;
  font-size: 0.9em;
  padding: 1px 2px;
}

.project--task-list a.task {
  margin-bottom: -1px;
  padding: 4px;
  border: 1px solid #e3e3e3;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.project--task-list a.task:hover {
  text-decoration: none;
  background-color: #e3f3ff;
}

.project--task-list a.task:hover .task-title {
  text-decoration: underline;
}

.project--task-list a.task .project--task--due-date {
  font-size: 0.9em;
}

.project--task-list a.task.overdue .calendar-icon,
.project--task-list a.task.overdue .project--task--due-date {
  color: #e3342f;
}

.project--task-list a.task.due-today .calendar-icon,
.project--task-list a.task.due-today .project--task--due-date {
  color: #f6993f;
}

.project--task-list .task-attributes {
  padding-left: 15px;
}

.project--task-list .task-attributes .fas,
.project--task-list .task-attributes .far {
  color: #666;
}

.project--task-list.completed-tasks {
  font-size: 0.9em;
}

.project--task-list.completed-tasks a .task-title,
.project--task-list.completed-tasks a:hover .task-title {
  text-decoration: line-through;
  color: #666;
}

.task .task-details {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 15px;
  padding-bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.task .task-details .headshot {
  max-height: 35px;
}

.task.overdue .task-details {
  border-color: transparent;
  background-color: #fff3f3;
}

.task.overdue .task--due-date {
  font-weight: bold;
  color: #e3342f;
}

