/**
 * sass/admin/files.scss
 */

/**
 * sass/_mixins.scss
 */

/**
 * sass/files/panel.scss
 */

.panel-fields .field-label {
  font-weight: bold;
}

.panel-fields .field-value {
  padding-left: 20px;
}

.fileType-show .fileType-forms-list-group {
  max-height: 400px;
  overflow-y: auto;
}

.form-preview .form-field-list-item:hover {
  background-color: #e3f3ff;
}

.form-preview label {
  font-weight: bold;
}

.form-preview hr.separator {
  border-top: 2px solid #c9c9c9;
  margin-bottom: 2rem;
  width: 90%;
}

