/**
 * sass/admin.scss
 */

/**
 * sass/_mixins.scss
 */

.dt-table td {
  vertical-align: middle;
}

.user-photo {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  padding: 15px;
  margin-bottom: 15px;
}

.empty-resource {
  text-align: center;
}

.empty-resource .empty-resource-icon {
  border-radius: 15px;
  font-size: 96px;
  color: #3490dc;
  border: 1px solid #e3e3e3;
  padding: 50px;
  margin-bottom: 40px;
}

