/**
 * sass/admin/files.scss
 */

/**
 * sass/_mixins.scss
 */

/**
 * sass/files/panel.scss
 */

.panel-fields .field-label {
  font-weight: bold;
}

.panel-fields .field-value {
  padding-left: 20px;
}

.panel-fields .checkbox-container {
  font-size: 1.1rem;
}

.panel-fields .panel-field {
  padding: 4px;
}

.panel-fields .panel-field:nth-child(even) {
  background-color: #f9f9f9;
}

.panel-fields .panel-field .file-icon {
  max-height: 30px;
  max-width: 30px;
}

.fileType-show .fileType-forms-list-group {
  max-height: 400px;
  overflow-y: auto;
}

.form-preview .form-field-list-item:hover {
  background-color: #e3f3ff;
}

.form-preview label {
  font-weight: bold;
}

.form-preview hr.separator {
  border-top: 2px solid #c9c9c9;
  margin-bottom: 2rem;
  width: 90%;
}

