/**
 * sass/admin/files.scss
 */

/**
 * sass/_mixins.scss
 */

.fileType-show .fileType-forms-list-group {
  max-height: 400px;
  overflow-y: auto;
}

.form-preview .form-field-list-item:hover {
  background-color: #e3f3ff;
}

.form-preview label {
  font-weight: bold;
}

