/**
 * sass/document.scss
 */

.document-container {
  max-width: 800px;
}

@media print {
  html {
    font-size: 16pt;
  }

  body {
    background-color: unset;
  }

  .notifications,
  .header-navbar,
  .application-sidebar,
  .location-bar {
    display: none;
  }

  .document-print-container {
    display: block;
    overflow: visible;
  }

  .main-content,
  .document-container {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  .document {
    border: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    overflow: visible;
  }

  .document a {
    text-decoration: none;
  }
}

