/**
 * sass/files.scss
 */

/**
 * sass/_mixins.scss
 */

/**
 * sass/files/panel.scss
 */

.panel-fields .field-label {
  font-weight: bold;
}

.panel-fields .field-value {
  padding-left: 20px;
}

.panel-fields .checkbox-container {
  font-size: 1.1rem;
}

.panel-fields .panel-field {
  padding: 4px;
}

.panel-fields .panel-field:nth-child(even) {
  background-color: #f9f9f9;
}

.panel-fields .panel-field .file-icon {
  max-height: 30px;
  max-width: 30px;
}

/**
 * sass/_component/activity.scss
 */

/**
 * sass/_mixins.scss
 */

.activity--list-item {
  display: -webkit-box;
  display: flex;
}

.activity--list-item .icon-container {
  -webkit-box-flex: 0;
          flex-grow: 0;
}

.activity--list-item .icon-container .icon {
  display: inline-block;
  background-color: #999;
  border: 1px solid #999;
  color: #fff;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1px 7px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .activity--list-item .icon-container .icon {
    padding: 2px 13px;
    font-size: 30px;
  }
}

.activity--list-item.completed .icon-container .icon {
  border-color: #6574cd;
  background-color: #6574cd;
}

.activity--list-item.overdue .icon-container .icon {
  border-color: #e3342f;
  background-color: #e3342f;
}

.activity--list-item.due-today .icon-container .icon {
  border-color: #f6993f;
  background-color: #f6993f;
}

.activity--list-item .details-container {
  padding-left: 15px;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.activity--list-item .details-container .activity--name {
  color: #3490dc;
  font-weight: bold;
}

.activity--list-item .details-container .details {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.activity--list-item .details-container .details .activity-details {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.activity--list-item .details-container .details .owner {
  -webkit-box-flex: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
}

/**
 * sass/_component/form-doc.scss
 */

/**
 * sass/_mixins.scss
 */

.form-doc--list-item {
  display: -webkit-box;
  display: flex;
}

.form-doc--list-item .icon-container {
  -webkit-box-flex: 0;
          flex-grow: 0;
}

.form-doc--list-item .icon-container .icon {
  display: inline-block;
  background-color: #999;
  border: 1px solid #999;
  color: #fff;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1px 7px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .form-doc--list-item .icon-container .icon {
    padding: 2px 13px;
    font-size: 30px;
  }
}

.form-doc--list-item.submitted .icon-container .icon {
  border-color: #9561e2;
  background-color: #9561e2;
}

.form-doc--list-item .details-container {
  padding-left: 15px;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.form-doc--list-item .details-container .form-doc--name {
  color: #3490dc;
  font-weight: bold;
}

.form-doc--list-item .details-container .details {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.form-doc--list-item .details-container .details .doc-details {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.form-doc--list-item .details-container .details .creator {
  -webkit-box-flex: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
}

hr.separator {
  border-top: 2px solid #c9c9c9;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 90%;
}

.no-files .no-files-icon-container {
  font-size: 9rem;
}

.file .panels-tabs {
  max-height: 400px;
  overflow-y: auto;
}

.file .panel-content {
  overflow-y: auto;
  max-height: 340px;
}

@media (min-width: 768px) {
  .file .panel-content {
    height: 340px;
  }
}

.file .activities-card > .card-body {
  max-height: 80vh;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .file .activities-card > .card-body {
    min-height: 400px;
  }
}

.file .activities-card > .card-body .list-group.activities {
  margin-bottom: 20px;
}

.file-form .file-type-thumbnail-container {
  margin-bottom: 10px;
}

.file-form .file-type-thumbnail-container img {
  max-width: 200px;
  max-height: 200px;
}

