/**
 * sass/fileStore.scss
 */

/**
 * sass/_mixins.scss
 */

.index .no-drives-available,
.fileStore-index .no-drives-available {
  text-align: center;
}

.index .no-drives-available .icon,
.fileStore-index .no-drives-available .icon {
  font-size: 76px;
  color: #3490dc;
}

.index .drive .card-body,
.fileStore-index .drive .card-body {
  padding: 0;
  display: -webkit-box;
  display: flex;
}

.index .drive .card-body .icon-container,
.fileStore-index .drive .card-body .icon-container {
  -webkit-box-flex: 0;
          flex-grow: 0;
  background-color: #3490dc;
  color: #fff;
  padding: 15px;
  font-size: 56px;
}

.index .drive .card-body .name--description,
.fileStore-index .drive .card-body .name--description {
  padding: 15px;
}

.drag-drop-file-upload-target {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.drag-drop-file-upload-target .drag-drop-file-upload-form {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(236, 236, 255, 0.8);
  border: 10px dashed #3490dc;
  text-align: center;
}

.drag-drop-file-upload-target .drag-drop-file-upload-form label,
.drag-drop-file-upload-target .drag-drop-file-upload-form .files-are-uploading-indicator {
  color: #3490dc;
  font-size: 36px;
  padding-top: 15px;
  font-weight: bold;
}

.drag-drop-file-upload-target.is-being-dragged-over .drag-drop-file-upload-form {
  display: block;
}

.drag-drop-file-upload-target .files-are-uploading-indicator {
  display: none;
}

.drag-drop-file-upload-target.files-are-uploading .files-are-uploading-indicator {
  display: block;
}

.files-and-folders-list-group .media-file-item {
  padding: 0;
}

.files-and-folders-list-group .media-file-item .media-file-link {
  padding: 0.75rem 1.25rem;
  color: #666;
  white-space: nowrap;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.files-and-folders-list-group .media-file-item .media-file-options {
  display: none;
  white-space: nowrap;
}

.files-and-folders-list-group .media-file-item .media-file-options .btn {
  margin: 0;
  margin-top: 8px;
  margin-right: 4px;
}

.files-and-folders-list-group .media-file-item:hover .media-file-options {
  display: block;
}

.folder-show .parent-folder-list-group .list-group-item {
  padding: 6px 10px;
}

.media-files-show .fas.thumbnail {
  font-size: 128px;
  color: #3490dc;
}

.media-file--versions .icon-container {
  padding-right: 15px;
  font-size: 36px;
}

