/**
 * sass/home.scss
 */

.activity-name {
  color: #3490dc;
}

.activity-details {
  padding-left: 20px;
}

.activity-details .detail {
  margin-right: 4px;
}

.activities-panel .card-body {
  min-height: 400px;
  overflow-y: auto;
}

.activities-panel .activities {
  margin-bottom: 20px;
}

