/**
 * /sass/reports.scss
 */

/**
 * sass/_mixins.scss
 */

@media (min-width: 768px) {
  .report-select-options {
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
  }
}

.visualization .visualization-header {
  padding: 4px;
  font-weight: bold;
  background-color: #f9f9f9;
}

.visualization.visualization-error {
  color: #e3342f;
  background-color: #fff3f3;
  border: 1px solid #e3342f;
}

