/**
 * sass/admin/files.scss
 */

// Variables
@import '../variables';
@import '../mixins';

.fileType-show {

    .fileType-forms-list-group {
        max-height: 400px;
        overflow-y: auto;
    }

}





.form-preview {

    .form-field-list-item {
        &:hover {
            background-color: $blue-highlight;
        }
    }

    label {
        font-weight: bold;
    }

}



.file-type-form-field-form {


}
