/**
 * sass/admin/server.scss
 */

.server-details-card {

    .card-body {
        height: 300px;
        overflow-y: auto;

        dd {
            font-family: monospace;
        }
    }

}

.update-details {

    .output-log {
        background-color: #eee;
        font-family: monospace;
        border: 1px solid #999;
        padding: 5px;
        white-space: nowrap;
        overflow-x: auto;
    }

}
